.work {
  display: grid;
  grid-template-columns: 4fr 6fr;
  width: 100%;
  margin: 75px 0;
}

.work-status {
  width: 100%;
  padding: 0 50px 0 0;
  font-size: 18px;
}

.work-support {
  padding: 0 100px 0 0;
}

.about-me {
  font-size: 32px
}

@media screen and (max-width: 480px){
  .work {
    display: grid;
    grid-template-columns: 4fr 6fr;
    width: 100%;
    margin: 75px 0;
  }
  
  .work-status {
    width: 100%;
    padding: 0;

    font-size: 1rem;
  }
  
  .work-support {
    padding: 0 0 0 0;
  }
  
  .about-me {
    font-size: 1.1rem;
    padding: 0 0 0 15px
  }
}